flask==3.1.0
flask-cors==5.0.1
librosa==0.10.2
numpy==1.26.4
scipy==1.14.1
soundfile==0.12.1
openai>=1.59.2
python-dotenv==1.0.1
pydub==0.25.1
praat-parselmouth==0.4.5
scikit-learn==1.6.1
gunicorn==23.0.0
